* {
    margin: 0;
    padding: 0;
    font-family: Poppins, Arial;
}

h1 {
    font-size: 20px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(0, 136, 255);
}

.register-form {
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 300px;
    box-shadow: 1px 3px 10px rgba(0,0,0,0.3);
    padding: 30px;
}

.text-input {
    border-radius: 5px;
    border: none;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.checkbox-div {
    display: flex;
    gap: 7px;
    font-size: 12px;
    color: rgb(108, 108, 108);
}

.have-account-div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.register-now-button {
    border: none;
    color: white;
    padding: 10px;
    background-color: rgb(0, 136, 255);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.register-now-button:hover {
    background-color: rgb(69, 69, 246);
}

a {
    color: rgb(0, 136, 255);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 400px) {
    .register-form {
        width: 70%;
    }
}